* {
  background-color: black;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  padding-top: 20px;
}
.invisible {
  display: none;
  width: 100%;
  height: 300px;
}
.seeable {
  display:block;
  width: 100%;
  height: 300px;
}
